<div class="container">
  <% date = Date.today.strftime('%A, %b %d') %>
  <h1>Today it's <%= date %></h1>

  <%= link_to "Apply today", "#", class: "btn btn-primary"  %>

  <p>today we are learning about</p>
  <% technologies = ['ERB', 'Middleman', 'SCSS'] %>
  <ul>
    <% technologies.each do |tech| %>
      <li><%= tech %></li>
    <% end %>
  </ul>
</div>

